<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset="utf-8">
  <link href="main.css" rel="stylesheet">
</head>
<header>ページ名</header>
<hr>

<div class = "Button">
    <div class = "Button_month">
           <header_bt><%= button_to 'ALL' ,{controller: 'main', action: 'all'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '1月' ,{controller: 'main', action: 'm1'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '2月' ,{controller: 'main', action: 'm2'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '3月' ,{controller: 'main', action: 'm3'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '4月' ,{controller: 'main', action: 'm4'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '5月' ,{controller: 'main', action: 'm5'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '6月' ,{controller: 'main', action: 'm6'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '7月' ,{controller: 'main', action: 'm7'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '8月' ,{controller: 'main', action: 'm8'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '9月' ,{controller: 'main', action: 'm9'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '10月' ,{controller: 'main', action: 'm10'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '11月' ,{controller: 'main', action: 'm11'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '12月' ,{controller: 'main', action: 'm12'}, {method: :get} %></header_bt>
    </div>
    <div class = "Left"><</div>
    <div class = "Right">></div>
</div>

<div class= "calendar">
    <table>
      <tr>
        <% t('date.abbr_day_names').each do |day_name| %>
          <td>
            <%= day_name %>
          </td>
        <% end %>
      </tr>
      <% @calendar_data.each do |date| %>
        <% if date.wday == 0 %>
          <tr>
        <% end %>
        <td>
          <%= date.day %>
        </td>
        <% if date.wday == 6 %>
        </tr>
        <% end %>
      <% end %>
    </table>
    <p><%= @today.strftime("< %m / %Y >") %></p>
    </div>
</div>

<>
<hr>
<footer>
    <%= button_to 'ログアウト' , '/top_logout_path' %>
</foooter>