<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset="utf-8">
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <hr>
  <p>ページ名 </p>

  <div class="Button">
        
            <div class="Button_month">
                <header_bt><%= button_to 'ALL' ,{controller: 'main', action: 'all'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '1月' ,{controller: 'main', action: 'm1'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '2月' ,{controller: 'main', action: 'm2'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '3月' ,{controller: 'main', action: 'm3'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '4月' ,{controller: 'main', action: 'm4'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '5月' ,{controller: 'main', action: 'm5'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '6月' ,{controller: 'main', action: 'm6'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '7月' ,{controller: 'main', action: 'm7'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '8月' ,{controller: 'main', action: 'm8'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '9月' ,{controller: 'main', action: 'm9'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '10月' ,{controller: 'main', action: 'm10'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '11月' ,{controller: 'main', action: 'm11'}, {method: :get} %></header_bt>
                <header_bt><%= button_to '12月' ,{controller: 'main', action: 'm12'}, {method: :get} %></header_bt>
            </div>
    <div class="Left"><</div>
    <div class="Right">></div>
  </div>
  <p><iframe src="/InRecipt"></iframe></p>
    <hr>
    
  <main_day>
      日付&emsp;&emsp;&emsp;&emsp;<%= (safe_join((h(Recipt.all.find(3).day)).split("\n"), tag(:br)))%>
      <% Recipt.where(day: "#{Recipt.all.find(3).day}").each do |t| %>
          <% if session[:login_uid] != t.uid %>
               
               <hr>
               <%= (safe_join((h(t.kind)).split("\n"), tag(:br)))%>&emsp;&emsp;｜<%= (safe_join((h(t.pay)).split("\n"), tag(:br)))%>円
               <hr>
               <%= (safe_join((h(t.img)).split("\n"), tag(:br)))%>
            <% end %>
        <% end %>
    </main_day>
    <hr>
    <footer>
      <%= button_to 'ログアウト' , '/top_logout_path' %>
    </footer>
  </body>
</html>