<!DOCTYPE html>
<html lange='ja'>
    
    <head>
        <meta charset="utf-8">
        <link href="login.css" rel="stylesheet">
    </head>
    <body>
    <br>
        <div class=p1>
             
      
            <% if session[:login_uid]%>
                <br><h1> KakeiboApp  </h1></br>
            <% else%>
                <br><h1>KakeiboApp</h1></br>
                <br><div class=p1_brock><%= button_to 'ログイン' , 'login', class: "button" %>    </div>
                    <div class=p1_brock><%= button_to '新規登録' , 'create_IP', class: "button" %></div></br>
            <% end%>
            
          
        </div>
    </br>
    <br> </br>
        <hr> </hr>
        <h3>これは、KakeiboAppです。ログインID、パスワードを作成して、ログインしてください</h3>
        <hr> </hr>
        <% if session[:login_uid]%>
        <p><%= button_to 'メインへ' , '/main' %></p>
        <% else%>
        <p><%= button_to 'メインへ' , '/main/month' %></p>
        <% end%>
        <hr> </hr>
        <div class=p2> 
            <%= button_to 'ログアウト' , '/top_logout_path', class: "button" %>
        </div>
     </body>
 </html>